@import "tailwindcss";

@theme {
    --color-background: #09090b;
    --color-foreground: #ededed;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

.bg-mesh {
    background-color: #09090b;
    background-image:
        radial-gradient(at 0% 0%, hsla(253, 16%, 15%, 1) 0, transparent 50%),
        radial-gradient(at 50% 0%, hsla(225, 39%, 20%, 1) 0, transparent 50%),
        radial-gradient(at 100% 0%, hsla(339, 49%, 20%, 1) 0, transparent 50%);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #27272a;
    border-radius: 10px;
}